<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

  <header>
    <nav>
      <ul>
        <li>
          <a href='@Url.Action("todasLasPaginas", "Home")'> PAGINAS PRINCIPALES </a>
          <a href='@Url.Action("Index", "Home")'> Landing </a>
        </li>
      </ul>
    </nav>
  </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <section class="footer">
            <div class="footerIzq">
                <div>
                    <img src="" alt="imagenMelodika">
                    <h3>Melodika</h3>
                    
                </div>
                <p>La musica esta en vos, nosotros te la desbloqueamos</p>
            </div>
            <div>
                <div class="footerDer">
                    <p>Politica de privacidad</p>
                    <p>Términos y condiciones</p>
                    <p>Ayuda</p>
                </div>
                <div class="redes">
                    <img src="imagenes/Facebook.png" alt="Facebook">
                    <img src="imagenes/Instagram.png" alt="Instagram">
                    <img src="imagenes/Discord.png" alt="Discord">
                    <img src="imagenes/Spotify.png" alt="Spotify">
                </div>
            </div>
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
