@{
    ViewData["Title"] = "Crear cuenta";
}


<section class="pagina-crear-cuenta">
    <article>
        <h1>Crear cuenta</h1>

        <form method="post">
            <div>
                
                <input type="email" id="register-email" name="email" placeholder="Correo electronico" autocomplete="email" required />
            </div>

            <div>
         
                <input type="password" id="register-password" name="password" placeholder="Contraseña" autocomplete="new-password" required />
            </div>

            <div>
        
                <input type="password" id="register-confirm" name="confirmPassword" placeholder="Confirmar contraseña" autocomplete="new-password" required />
            </div>

            <div>
                
                <input type="text" id="register-username" name="username" placeholder="Username" autocomplete="username" required />
            </div>

            <label class="crear-opcion" for="terms">
                <input class="crear-casilla" type="checkbox" id="terms" name="terms" required />
                Acepto los términos y condiciones
            </label>

            <label class="crear-opcion" for="updates">
                <input class="crear-casilla" type="checkbox" id="updates" name="updates" />
                Quiero recibir información y anuncios de Melodika
            </label>

            <a href='@Url.Action("Login", "Home")' class="accion-primaria"> Crear cuenta e iniciar sesion </a>
        </form>
    </article>
</section>