@{
    ViewData["Title"] = "CrearUsuario";
}

<section class="crear-usuario">
  <h2>Crear usuario</h2>
  <form action="/Account/CrearUsuarioGuardar" method="post">
    <input type="text" name="nombre" placeholder="Nombre de usuario" required>
    <input type="date" name="fechaNacimiento" placeholder="Fecha de nacimiento" required>
    <select name="genero">
      <option value="" disabled selected>Género (opcional)</option>
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
      <option value="NB">No binario</option>
    </select>
    <button type="submit">Crear usuario</button>
    <p> @ViewBag.mensaje; </p>
  </form>
</section>
