@{
    ViewData["Title"] = "Crear cuenta";
}


<section class="pagina-crear-cuenta">
    <article>
        <h1>Crear cuenta</h1>

        <form method="post" action='@Url.Action("CrearCuentaGuardar", "Account")'>
            <div>
                
                <input type="email" id="register-email" name="correo" placeholder="Correo electronico" autocomplete="email" required />
            </div>

            <div>
         
                <input type="password" id="register-password" name="contra1" placeholder="Contraseña" autocomplete="new-password" required />
            </div>

            <div>
        
                <input type="password" id="register-confirm" name="contra2" placeholder="Confirmar contraseña" autocomplete="new-password" required />
            </div>

            <div>
                
                <input type="text" id="register-username" name="username" placeholder="Username" autocomplete="username" required />
            </div>

            <label class="crear-opcion" for="terminos">
                <input class="crear-casilla" type="checkbox" id="terminos" name="terminos" required />
                Acepto los términos y condiciones
            </label>

            <label class="crear-opcion" for="actualizaciones">
                <input class="crear-casilla" type="checkbox" id="actualizaciones" name="actualizaciones" />
                Quiero recibir información y anuncios de Melodika
            </label>

            <button type="submit" class="accion-primaria">Crear cuenta</button>

            <p>@ViewBag.mensaje</p>
        </form>
    </article>
</section>