@{
    ViewData["Title"] = "Login";
}

<section class="pagina-login">
    <article class="login-caja">
        <h1>Inicio de sesion en melodika</h1>
        
        <form method="post" action='@Url.Action("LoginGuardar", "Account")'>
            
            <div>
            
                <input type="text" id="login-email" name="correo" placeholder="Correo electronico o telefono"/>
            </div>
            
            <div>

                <input type="password" id="login-password" name="contraseña" placeholder="Contraseña"/>
            </div>
            
            <button type="submit" class="login-boton"> Iniciar sesion </button>
            
        </form>

        <p>
            ¿No creaste tu cuenta todavia?<br/>
            <a href='@Url.Action("CrearCuenta", "Account")' class = "login-enlace"> Crear cuenta </a>
        </p>

        <div aria-label="Opciones de redes sociales">
            <a href="#">Iniciar sesión con Google</a>
            <a href="#">Iniciar sesión con Facebook</a>
            <a href="#">Iniciar sesión con Instagram</a>
        </div>
        <p>@ViewBag.mensaje</p>
    </article>
</section>