@{
    ViewData["Title"] = "Login";
}

<section class="login-page">
    <article class="login-caja">
        <h1>Inicio de sesion en melodika</h1>
        
        <form class="login-formulario" method="post" action='@Url.Action("LoginGuardar", "Account")'>
            
            <div class="login-campo">
            
                <input class="login-entrada" type="text" id="login-email" name="correo" placeholder="Correo electronico o telefono"/>
            </div>
            
            <div class="login-campo">

                <input class="login-entrada" type="password" id="login-password" name="contraseña" placeholder="Contraseña"/>
            </div>
            
            <button type="submit" class="login-boton"> Iniciar sesion </button>
            
        </form>

        <p>
            ¿No creaste tu cuenta todavia?<br/>
            <a href='@Url.Action("CrearCuenta", "Account")' class = "login-enlace"> Crear cuenta </a>
        </p>

        <nav aria-label="Opciones de redes sociales">
            <a class="login-enlace" href="#">Iniciar sesión con Google</a>
            <a class="login-enlace" href="#">Iniciar sesión con Facebook</a>
            <a class="login-enlace" href="#">Iniciar sesión con Instagram</a>
        </nav>
    </article>
</section>