@using melodika.Models
@using System.Linq
@{
    ViewData["Title"] = "Canciones";
}

<section class="songs-page-compact">
    <div>
        <h1>Canciones</h1>
        <p>No encontrás tu canción? busca la tuya!</p>
        <div>
            <input type="text" placeholder="" />
            <button type="button">🔍</button>
        </div>
    </div>

    <section>
        <h2>Canciones populares:</h2>
        <div>
            @foreach (Cancion cancion in ViewBag.canciones)
            {
            <div>
                <img src="" alt="Foto Cancion" />
                <div>
                    <h3>@cancion.Titulo - @cancion.Autor</h3>
                    <div>
                        <span>@cancion.Dificultad</span>
                        @switch(cancion.Valoracion){
                            case 0:<span>⭐</span>
                            break;
                            case 1:<span>⭐⭐</span>
                            break;
                            case 2:<span>⭐⭐⭐</span>
                            break;
                            default: <span>Sin valoracion</span>
                            break;
                        }
                        
                    </div>
                </div>
            </div>
            }
        </div>
    </section>
</section>