@{
    ViewData["Title"] = "Configuración";
}

<section class="settings-page" aria-labelledby="settings-page-title">
    <div role="list">
        <article class= "setting-card" role="listitem">
            <div aria-hidden="true">
                <img src="~/imagenes/configuracion.png" alt="" loading="lazy">
            </div>
            <a href="#" class="setting-label">Personalizar experiencia</a>
        </article>

        <article class="setting-card" role="listitem">
            <div aria-hidden="true">
                <img src="~/imagenes/persona.png" alt="" loading="lazy">
            </div>
            <a href="#" class="setting-label">Información personal</a>
        </article>

        <article class="setting-card" role="listitem">
            <div aria-hidden="true">
                <img src="~/imagenes/candado.png" alt="" loading="lazy">
            </div>
            <a href="#" class="setting-label">Privacidad y seguridad</a>
        </article>

        <article class="setting-card" role="listitem">
            <div aria-hidden="true">
                <img src="~/imagenes/conexiones.png" alt="" loading="lazy">
            </div>
            <a href="#" class="setting-a">Conexiones externas</a>
        </article>
    </div>
</section>