@using melodika.Models
@using System.Linq
 @{
    ViewData["Title"] = "Cursos";
}


<h1 class = "CursosTitulo">Cursos<h1>
<section class = "SeccionCursos">
    @foreach (Curso curso in ViewBag.cursos)
    {
        <div>
            <h1>@curso.TituloCurso</h1>
            <p>@curso.Descripcion</p>  
               
        </div>  
    }
</section>